@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color:lightgray;
}
header{
    display: flex;
    justify-content: center;
}
#topHeading{
    height: 100px;
    width: fit-content;
    display: flex;
    padding: 0 10rem 0 10rem;
    border-radius: 0 0 6rem 6rem;
    background-color:lightskyblue;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
}
#modeContainer{
    display: flex;
   justify-content: end;
}
#modes{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    background-color: lightskyblue;
    width: fit-content;
    padding : 0 4rem 0 1rem;
    border-radius: 1rem 0 0 1rem ;
}
#modes i {
    cursor: pointer;
}


.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover{
    cursor: pointer;
    background-color: lightskyblue;
    transition: 0.6s;
   
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
     justify-content: center;
     gap: 70px;
     margin: 7rem 0 7rem 0;

}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 80px;
    gap: 60px;
}

#user-score , #comp-score{
    font-size: 4rem;
   text-align: center;

}



.msg-container{
display: flex;
justify-content: center;
margin-top: 7rem;

}
#msg{
    font-size: 2rem;
    background-color: lightskyblue;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}



 @media screen and (max-width:1200px) {
    #topHeading{
        font-size: 2rem;
        height: 80px;
        align-items: center;
        padding: 0 7rem 0 7rem;
    }

.choices{
    display: flex;
     justify-content: center;
     gap: 70px;
     margin: 7rem 0 7rem 0;

}
    .choice{
        height: 150px;
        width: 150px;
    }
    .choice:hover{
        cursor: pointer;
        background-color: transparent;
        transition: none;
       
    }
    .score-board{
        font-size: 1.7rem;
    }
    #user-score , #comp-score{
        font-size: 3rem;
    }

    #msg{
        font-size: 1.8rem;
    }
 }

 @media screen and (max-width:600px) {
    #topHeading{
        font-size: 1.4rem;
        height: 60px;
        align-items: center;
        padding: 0 5rem 0 5rem;
    }
    .choice{
        height: 35vw;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .choice:hover{
        cursor: pointer;
        background-color: transparent;
        transition: none;
       
    }
    .choices{
        display: block;
      align-items: center;
      margin:  1rem 0 1rem 0;
    }
    #msg{
        font-size: 1.3rem;
    }
    .score-board{
        margin: 0;
        font-size: 1.2rem;
    }
    .msg-container{
        margin-top: 2rem;
    }
    #msg{
        font-size: 1.1rem;
    }
 }